MONGO_URI=mongodb://localhost:27017/NEXT
SERVER_HOST=localhost
SERVER_PORT=3000
JWT_KEY = <chave_secreta_jwt>
MONGO_URI_TEST=""

CLOUDINARY_CLOUD_NAME="cloud_name"
CLOUDINARY_API_KEY="api_key"
CLOUDINARY_API_SECRET="api_secret_key"

CLOUDINARY_URL="cloudinary://<api_key>:<api_secret_key>@<cloud_name>"