.pagamento-box{
  margin: 20px;
}

.container-pagamento{
  
}

#titulo-pagamentos{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #111;
  max-width: 400px;
  margin-bottom: 20px;
}

.input-pagamento {
  width: 100%;
  padding: 12px;
  margin: 3px 0;
  background: transparent;
  border: 2px solid #6914DA;
  border-radius: 8px;
  color: white;
  /* outline: none; */
}

input::placeholder {
  color: #ccc;
}

.double-cards{
  display: flex;
  
}

.button-pagamento {
  
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #6914DA, rgb(168, 70, 228));
  color: white;
  font-size: 16px;

}

.button-pagamento:hover {
  opacity: 0.8;
}


